{{> navbar}}

<h1 class="text-center">Blog Comments</h1>

<div class="card">
    <div class="card-header justify-space-between">
        <h1 class="title">{{ blogs.title }}</h1>
    </div>
    <div class="card-body">
        <p>{{blogs.content}}</p>
    </div>
    <div>
        <h4>
            <a href="/api/comments/{{ blogs.id }}">Comments</a>
        </h4>
    </div>
</div>

{{#each allComments as |comm|}}
<div class="comments">
    <div class="card">
        <div class="card-header">
            <h4>{{ user.username }}</h4>
            <h4>{{ comm.createdAt }}</h4>
        </div>
        <div class="card-body">
            {{ comm.text }}
        </div>
    </div>
</div>
{{/each}}

<button type="button" data-bs-toggle="modal" data-bs-target="#addNewComment" class="btn btn-dark btn-sm" id="commentBtn">
    Add Comment
</button>

{{!-- add comment modal --}}
<div class="modal fade" id="addNewComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelEvent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelEvent">Add New Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div ="container-fluid">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="newComment">
                    </div>
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" value="{{ blogs.id }}" id="newComBlogId">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark addCommentBtn" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>

        <script src="/js/comment.js"></script>