{{> navbar}}

<h3>Dashboard</h3>

<div>
    {{#each allBlogs as |blog|}}
    <div class="card-header justify-space-between">
        <h1 class="title">{{ blog.title }}</h1>
        <p class="author">Posted by: {{ user.username }}</p>
        <h5>{{blog.createdAt}}</h5>
    </div>
    <div class="card-body">
        <p>{{blog.content}}</p>
    </div>
    <div>
        <h2>
            <a href="/api/comments/{{ blog.id }}">Comments</a>
        </h2>
    </div>
    {{/each}}
</div>